services:
  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./src/backend:/app
      - ./.env:/app/.env
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    image: node:22-alpine
    working_dir: /app
    ports:
      - "3000:5173"
    volumes:
      - ./src/frontend:/app
    command: sh -c "npm install && npm run dev -- --host"
